* {
    font-family: "inter";
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
}

#contactListContent {
    background-color: rgba(255, 255, 255, 1);
    width: 360px;
    height: 84vh;
    overflow-y: scroll;
    margin-left: 232px;
    box-shadow: 4px 0 6px 0 rgba(0, 0, 0, 0.08);
    padding-left: 52px;
    padding-right: 24px;
    padding-top: 130px;
    padding-bottom: 64px;
    overflow-x: hidden;
}


#contact-list {
    padding-top: 42px;
}

#contactListButtonContent {
    position: absolute;
    top: 93px;
    left: 232px;
    width: 395px;
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-left: 23px;
}

#contactListButtonContent button {
    width: 340px;
    height: 56px;
    background-color: rgba(42, 54, 71, 1);
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    font-size: 21px;
    line-height: 25.5px;
    color: white;
}

#contactListButtonContent button:hover {
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#viewContact {
    padding-top: 32px;
    gap: 21px;
    display: flex;
    flex-direction: column;
}

#contactContent {
    position: absolute;
    top: 100px;
    left: 670px;
    width: auto;
    height: auto;
    padding: 110px 0 0 55px !important;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profilePictureContact {
    border: 3px solid white;
    border-radius: 50%;
    background-color: rgba(255, 199, 0, 1);
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #25344A;
    font-size: 47px;
}

.profileName {
    display: flex;
    flex-direction: row;
    gap: 54px;
    ;
}

.profileName h2 {
    font-size: 47px;
    font-weight: 400;
    line-height: 56.4px;
}

.profileName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nameEditBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.showOneContactInfo h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
}

.showOneContactInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.showOneContact {
    display: flex;
    flex-direction: column;
    gap: 22px;

}

#emailFromContact {
    text-decoration: underline;
    color: rgba(0, 124, 238, 1);
}

.editDivContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

#editDiv:hover img {
    content: url(/assets/img/edit_contact_blue.png);
}

#editDiv:hover p {
    color: rgba(41, 171, 226, 1);
}

#editDiv:hover {
    cursor: pointer;
}

#deleteDiv:hover img {
    content: url(/assets/img/delete_contact_blue.png);
}

#deleteDiv:hover p {
    color: rgba(41, 171, 226, 1);
}

#deleteDiv:hover {
    cursor: pointer;
}

.editDivContact img {
    height: 24px;
    width: 24px;
}

.contactInformation {
    width: 207px;
    height: 74px;
    gap: 57px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.contactInformation p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.editBox p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.nameBox {
    padding: 5px 5px 5px 0;
}

.editBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 12px;
}

#contactHeadline h1 {
    font-size: 61px;
}

#contactHeadline p {
    font-size: 27px;
    line-height: 32.4px;
}

#headlineLine {
    border: 3px solid rgba(41, 171, 226, 1);
    height: 59px;
}

#contactHeadline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.letter-heading {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    border-bottom: solid 1px rgba(209, 209, 209, 1);
    margin-bottom: 5px;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 24px 5px 24px;
    gap: 35px;
    height: 78px;
    border-radius: 10px;
}

.contact p {
    color: rgba(0, 124, 238, 1);
}

.contact:hover {
    background-color: rgba(249, 249, 249, 1);
    cursor: pointer;
}

.contact.active {
    background-color: rgba(42, 54, 71, 1);
}

.contact.active h2 {
    color: white;
}

#contacts {
    top: 140px;
    left: 480px;
    padding: 0
}

.oneContact {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.oneContact h2 {
    font-size: 21px;
    font-weight: 400;
    line-height: 25.8px;
    font-family: "Inter", sans-serif;
}

.contact {
    width: 291px;
    gap: 10px;
    justify-content: start;
}

.letter-heading {
    width: 25px;
    height: 58px !important;
    padding: 12px 270px 12px 44px;
}

.profile-picture {
    width: 40px;
    height: 40px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #25344A;
    border: 2px solid white;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    font-family: "Inter", sans-serif;
}

.d-none {
    display: none !important;
}

.blurBackground {
    position: fixed;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000 !important;
    transition: all 1s ease;
}

.blurBackgroundEdit {
    position: fixed;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000 !important;
    transition: all 1s ease;
}

#addNewContact {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(120vw);
    transition: transform 0.5s ease-in-out;
    margin: auto;
    flex-direction: row;
    width: 1112px !important;
    height: 592px !important;
    border-radius: 30px 30px 30px 30px !important;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    z-index: 1001;
    background-color: white;
}



.slide-right {
    will-change: transform;
}

.profileDivContact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 42px;
}

#addNewContactFirstSection {
    height: -webkit-fill-available;
    background-color: rgba(42, 54, 71, 1);
    width: 480px;
    padding: 66px 48px;
    gap: 12px;
    border-radius: 30px 0 0 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


#addNewContactFirstSection div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 12px;
}

.blueLineAddContact {
    width: 90px;
    border: solid rgba(41, 171, 226, 1) 2px;
    border-radius: 30px;
}

#addNewContactFirstSection img {
    width: 55.6px;
    height: 66.48px;
    object-fit: cover;
}

#addNewContactFirstSection h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    color: white;
}

#addNewContactCloseButton {
    width: 32px;
    height: 32px;
    border-radius: 50px;
}


#addNewContactCloseButton:hover {
    background-color: rgba(217, 217, 217, 0.4);
    cursor: pointer;

}

#addNewContactFirstSection h3 {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    color: white;
}

#closeAddContactDiv {
    padding: 42px 0 24px 24px;
    width: 570px;
    display: flex;
    justify-content: end;
}

#addNewContactSecondSection {
    border-radius: 0 30px 30px 0;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: -webkit-fill-available;
}

#editContactSecondSection {
    border-radius: 0 30px 30px 0;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: -webkit-fill-available;
}

#contactInput {
    width: 422px;
    height: 438px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 26px;
}

.profilPictureDivContent {
    margin-bottom: 70px;
}

#editProfilePicture {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 47px;
}


#inputDiv {
    width: 422px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.inputBox {
    height: 24px;
    width: 380px;
    display: flex;
    align-items: center;
    padding: 13px 21px;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;

}

.inputBox input {
    font-family: "Open Sans", sans-serif;
    border: none;
    width: 355px;
    height: 35px;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.8px;
    color: black;
    outline: none;
    padding: 3px;
    background-color: white !important;
}

.inputBox input::placeholder {
    color: rgba(209, 209, 209, 1);
}

#addNewContactAlert p {
    color: rgba(255, 129, 144, 1);
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px;

}

.editContactActive {
    right: none !important;
}

#btnDiv {
    width: 365px;
    height: 61px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#cancelButtonContact img {
    transition: 100ms ease-in-out;
}


#cancelButtonContact:hover img {
    content: url(/assets/img/cancel_blue.png);
}

#cancelButtonContact {
    border: solid 1px rgba(100, 113, 136, 1);
    border-radius: 10px;
    color: rgba(100, 113, 136, 1);
    background-color: white;
    padding: 16px 10px;
    width: 136px;
    height: 61px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 100ms ease-in-out;
}

#cancelButtonContact:hover {
    border: solid 3px rgba(41, 171, 226, 1);
    color: rgba(41, 171, 226, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#cancelButtonContact:active img {
    content: url(/assets/img/cancel\(x\).png);
}

#cancelButtonContact:active {
    border: solid 1px rgba(100, 113, 136, 1);
    border-radius: 10px;
    color: rgba(100, 113, 136, 1);
    background-color: white;
    padding: 16px 10px;
    width: 136px;
    height: 61px;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 100ms ease-in-out;
}

#createContactButton {
    border-radius: 10px;
    background-color: rgba(42, 54, 71, 1);
    padding: 16px 10px;
    color: white;
    width: 204px;
    height: 61px;
    text-wrap: nowrap;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: 100ms ease-in-out;
    border: none !important;
}


#createContactButton:hover {
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none !important;
    cursor: pointer;
}

#createContactButton:active {
    background-color: rgba(9, 25, 49, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none !important;
}


.buttonActive {
    border: solid 1px white !important;
    background-color: white !important;
    color: rgba(69, 137, 255, 1) !important;
    box-Shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

#successfully {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(42, 54, 71, 1);
    border-radius: 20px;
    width: 326px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 23px;
    color: #fff;
    z-index: 110;
}

#successfullyContainer {
    z-index: 100;
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff6f;
    display: none;
    justify-content: center;
    align-items: center;
}

.slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s linear both;
    animation: slide-in-bottom 0.5s linear both;
}

@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


#addNewContactAlert p {
    color: rgba(255, 129, 144, 1);
    font-size: 13px;
    font-weight: 400;
    margin-top: 8px;

}

#editContact {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateX(120vw);
    transition: transform 0.5s ease-in-out;
    margin: auto;
    width: 1112px;
    height: 592px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    display: none;
    flex-direction: row;
    z-index: 1001;
    background-color: white;
}

#editContactButton {
    border-radius: 10px;
    background-color: rgba(42, 54, 71, 1);
    padding: 16px 10px;
    color: white;
    width: 111px;
    height: 61px;
    text-wrap: nowrap;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transition: 100ms ease-in-out;
    border: none !important;
}

#editContactButton:hover {
    background-color: rgba(41, 171, 226, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none !important;
    cursor: pointer;
}

#editContactButton:active {
    background-color: rgba(9, 25, 49, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none !important;
}

#whiteCircle {
    border-radius: 70px;
    width: 120px;
    height: 120px;
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
}

#initialsEditContact {
    border-radius: 70px;
    width: 112px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#initialsText {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    text-align: center;
    color: #25344A;
}

#closeAddContactDivResp {
    visibility: hidden;
}

#contactsHeadlineResp img {
    visibility: hidden;
}

#headlineResp {
    visibility: hidden;
}

#editDivResp {
    visibility: hidden;
}

@media (max-width: 1300px) {
    #contactListContent {
        margin-left: 0px !important;
        height: calc(84vh - 110px);
    }

    #contactListButtonContent {
        left: 10px;
    }

    #contactContent {
        left: 400px;
    }

}

@media (max-width: 1150px) {
    .d-noneResp {
        display: none !important;

    }


    #contactListContent {
        padding-top: 60px;
        padding-left: 45px;
        padding-bottom: 50px;
        width: 370px;
        height: 75vh;
    }

    #content {
        display: flex;
        justify-content: center;
        align-items: center !important;
        width: 100%;
        height: 100%;
    }

    #contactListButtonContent {
        display: none;
    }

    #addContactResp {
        position: absolute;
        width: 56px;
        height: 56px;
        bottom: 120px;
        right: 24px;
        border-radius: 50%;
        background-color: rgba(42, 54, 71, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    #addContactResp:active {
        background-color: rgba(41, 171, 226, 1);
    }

    #addNewContact {
        flex-direction: column;
        height: 95vh !important;
        margin: auto;
        width: 600px !important;
        right: 0 !important;
        bottom: 0;
    }

    #addNewContactFirstSection {
        border-radius: 30px 30px 0 0;
        width: initial !important;
        padding: 0 !important;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding-left: 24px !important;
    }

    #addNewContactSecondSection {
        width: initial !important;
        padding: 0 !important;
        border-radius: 0 0 30px 30px;
        position: relative;
    }

    #addContactResp img {
        width: 32px;
        object-fit: cover;
    }

    #closeAddContactDivResp {
        visibility: visible;
        position: absolute !important;
        top: 32px;
        right: 16px;

    }

    #cancelButtonContact {
        display: none;
    }

    #btnDiv {
        align-items: center;
        justify-content: center;
    }

    #contactInput {
        align-items: center;
        padding-top: 24px;
        gap: 18px;
    }

    #closeAddContactDivResp img {
        width: 24px;
        height: 24px;
    }

    #closeAddContactDiv {
        display: none;
    }

    .profilPictureDivContent {
        position: absolute;
        top: -60px;
        left: 38%;
    }

    #addNewContactSlogan img {
        display: none;
    }

    #contactContent {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        visibility: visible;
        left: 0px !important;
        padding: 32px 0px 32px 32px !important;
        align-items: start !important;
        overflow: hidden;

    }

    #contactHeadline {
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    #headlineLine {
        display: none;
    }

    #headlineResp {
        visibility: visible;
        width: 90px;
        background-color: rgba(41, 171, 226, 1);
        height: 3px;
    }

    .editDivContact {
        display: none;
    }

    #contactsHeadlineResp img {
        padding: 4px;
        visibility: visible;
        height: 24px;
        object-fit: cover;
    }

    #contactsHeadlineResp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90vw;
    }

    #editContactThirdSection {
        position: absolute;
        width: 56px;
        height: 56px;
        bottom: 120px;
        right: 24px;
        border-radius: 50%;
        background-color: rgba(42, 54, 71, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }

    #oneContactResp {
        display: flex;
        flex-direction: column;
    }

    .rightRespDiv {
        display: none !important;
        right: -200px !important;
    }

    #editDivResp {
        position: absolute;
        bottom: 115px;
        right: -200px;
        width: 140px;
        height: 100px;
        border-radius: 20px 20px 0px 20px;
        background-color: white;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        transition: all 0.5s;
    }

    #editDivResp div {
        display: flex;
        flex-direction: row;
        width: 100px;
        gap: 8px;
        padding: 8px;
        border-radius: 8px;
        align-items: center;
        cursor: pointer;
    }

    #editDivResp div:active {
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(41, 171, 226, 1);
        font-weight: 700;
        font-size: 16px;
    }

    #editContactResp:active img {
        content: url(/assets/img/edit_contact_blue.png);
    }

    #deleteContactResp:active img {
        content: url(/assets/img/delete_contact_blue.png);
    }


    #editDivResp {
        visibility: visible;
    }

    #editContact {
        flex-direction: column;
        height: 95vh !important;
        margin: auto;
        width: 600px !important;
        right: 0 !important;
        bottom: 0;
    }

    #contactsHeadlineResp img:active {
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.1);
    }

    #editContact {
        flex-direction: column;
        height: 95vh;
        margin: auto;
        width: 600px !important;
        right: 0px;
    }

    #editContactSecondSection {
        width: initial !important;
        padding: 0 !important;
        border-radius: 0 0 30px 30px;
        position: relative;
    }

    #editProfilePicture {
        position: absolute;
        top: -60px;
        left: 38%
    }

    .profileName {
        gap: 24px;
    }

    #editContactLogo {
        display: none !important;
    }

}

@media (max-width: 666px) {
    #addNewContact {
        width: 450px !important;
    }

    #editContact {
        width: 450px !important;
    }
}

@media (max-width: 500px) {
    #contactListContent {
        width: 315px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .letter-heading {
        width: 0px;
    }

    .contact {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #contactHeadline h1 {
        font-size: 42px;
    }

    .profilePictureContact {
        width: 60px;
        height: 60px;
    }

    #pictureViewContact {
        font-size: 28px !important;
    }

    .nameBox h2 {
        font-size: 28px;
    }

    #addNewContactFirstSection h1 {
        font-size: 38px !important;
    }

    #addNewContactFirstSection h3 {
        font-size: 20px !important;
    }

    .inputBox {
        width: 220px !important;
    }

    #createContactButton {
        width: 180px;
        font-size: 20px;
    }

    #addNewContact {
        width: 310px !important;
    }

    #contactInput {
        width: 280px !important;
        height: auto !important;
        padding: 34px 18px 18px 18px !important;
    }

    #inputDiv {
        width: 280px !important;
    }

    .inputBox input {
        width: 280px !important;
    }

    #btnDiv {
        width: 200px;
    }

    .addContactProfilePicture {
        width: 70px;
        top: 0px !important;

    }

    .profilPictureDivContent {
        margin-bottom: 0px;
        top: -40px !important;
        left: 40%;
    }

    #editProfilePicture {
        margin-bottom: 0px !important;
    }


    #whiteCircle {
        width: 102px !important;
        height: 102px !important;
    }

    #initialsEditContact {
        width: 100px;
        height: 100px;
    }

    #editContactLogo {
        display: none !important;
    }



    #initialsText {
        font-size: 38px;
    }

    #editProfilePicture {
        left: 34%;
        top: -50px;
    }

    #contactInput {
        padding-top: 70px !important;
    }

    #editContact {
        width: 300px !important;
    }
}
