@font-face {
  font-family: "inter";
  src: url(/assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
  margin: 0;
  background-color: rgb(246, 247, 248);
  font-family: "inter", sans-serif;
}

aside {
  position: fixed;
  z-index: 999;
}

aside[w3-include-html*="nav.html"] {
  width: 232px;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(42, 54, 71, 1);
}

.navbar {
  background-color: rgba(42, 54, 71, 1);
  width: 232px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.joinIcon {
  width: 100px;
  padding: 64px;
  position: absolute;
}

.navbarContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-top: 300px;
  width: 232px;
}

.menu p {
  color: rgba(205, 205, 205, 1);
  margin: 0;
}

.menu a {
  text-decoration: none;
}

.summery,
.addTask,
.board,
.conntacts {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 46px;
  padding: 0px 56px;
}

.summery:hover,
.addTask:hover,
.board:hover,
.conntacts:hover {
  background-color: rgba(42, 61, 89, 1);
  cursor: pointer;
  font-weight: 500;
}

.policy {
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.policy a {
  color: rgba(168, 168, 168, 1);
  padding: 8px 60px;
  text-decoration: none;
  display: inline-block;
  width: 111px;
  transition: color 0.1s, font-weight 0.1s;
}

.policy a:hover {
  cursor: pointer;
  color: rgb(41, 171, 226);
  font-weight: bold;
}

.currentPage {
  background-color: rgba(9, 25, 49, 1) !important;
}

.currentPagePolicy {
  background-color: rgba(9, 25, 49, 1) !important;
}

.currentPagePolicy:hover {
  color: rgba(168, 168, 168, 1) !important;
  font-weight: 400 !important;
}

.boardResposive {
  display: none;
}

@media (max-height: 821px) {
  .joinIcon {
    width: 90px;
    position: absolute;
    top: 24px;
    padding: 0;
  }
  .menu {
    margin-top: 220px;
  }
  .policy {
    padding-bottom: 21px;
  }
}

@media (max-width: 1300px) {
  aside[w3-include-html*="nav.html"] {
    width: 100%;
    height: 110px;
    top: auto;
    bottom: 0;
  }

  .joinIcon {
    display: none;
  }
  .policy {
    display: none;
  }
  .navbar {
    width: 100%;
    height: 110px;
    top: unset;
    bottom: 0;
    flex-direction: row;
  }
  .navbarContent {
    display: block;
    width: 100%;
    height: 110px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1px;
    width: 100%;
    gap: 0;
  }
  .board {
    display: none;
  }
  .boardResposive {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    height: 46px;
    padding: 26px 35px 37px 35px;
    gap: 8px;
  }
  .summery,
  .addTask,
  .conntacts {
    flex-direction: column;
    gap: 8px;
    height: 46px;
    padding: 26px 30px 37px 26px;
    border-radius: 16px;
  }
  .menu p {
    margin: 0;
  }
  .menu img {
    height: 40px;
    width: 40px;
  }
  .summery:hover,
  .addTask:hover,
  .board:hover,
  .conntacts:hover {
    font-weight: 400;
    background-color: rgba(42, 54, 71, 1);
  }
}
@media (max-width: 794px) {
  aside[w3-include-html*="nav.html"] {
    height: 80px;
  }

  .navbarContent {
    height: 80px;
  }
  .menu img {
    height: 22px;
    width: 22px;
  }
  .menu p {
    font-size: 14px;
  }
  .navbar {
    height: 80px;
  }
  .summery,
  .addTask,
  .conntacts {
    padding: 14px 14px 18px 14px;
  }
  .boardResposive {
    padding: 14px 25px 18px 25px;
  }
}
@media (max-width: 380px) {
  .menu p {
    font-size: 11px;
}
}
