<div class="navbar">
  <img class="joinIcon" src="./assets/img/joinWhite.png" alt="Join Icon" />
  <div class="navbarContent">
    <div class="menu">
      <a id="summaryMenu" href="/summary.html" class="summery">
        <img src="./assets/img/summeryIcon.png" alt="Summary" />
        <p>Summary</p>
      </a>
      <a id="boardMenuResposive" href="/board.html" class="boardResposive">
        <img src="./assets/img/boardIcon.png" alt="Board" />
        <p>Board</p>
      </a>
      <a id="addTaskMenu" href="/addTask.html" class="addTask">
        <img src="./assets/img/addTask.png" alt="Add Task" />
        <p>Add Task</p>
      </a>
      <a id="boardMenu" href="/board.html" class="board">
        <img src="./assets/img/boardIcon.png" alt="Board" />
        <p>Board</p>
      </a>
      <a id="contactsMenu" href="/contacts.html" class="conntacts">
        <img src="./assets/img/contacktsIcon.png" alt="Contacts" />
        <p>Contacts</p>
      </a>
    </div>
    <div class="policy">
      <a id="privacyPolicyMenu" href="/privacyPolicy.html">Privacy Policy</a>
      <a id="legalNoticeMenu" href="/legalNotice.html">Legal notice</a>
    </div>
  </div>
</div>